<div class="my-container">

    <div class="card mx-auto shadow mb-4">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <b><u>Please note</u></b> that this is a lite version of Genomator software and is not designed to most effectively handle large files. For larger and more difficult applications please visit out <a href="https://bioinformatics.csiro.au/">research group page</a> or reach out to us <a href="https://bioinformatics.csiro.au/get-in-touch/">directly</a>.
            <br>
          </div>
        </div>
    </div>



    <div class="card mx-auto shadow mb-4 card-with-top-gap">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="card-body">
                    <h3 class="card-title-DataSubmission">Tabular Data Generation</h3>
                    <br>

                    <div *ngIf="loading">
                      <div class="spinner-border" role="status">
                        <span class="sr-only"></span>
                      </div><br>
                      Loading Status:
                      <div class="alert alert-secondary" role="alert" [innerHTML]="loadingStatus"></div>
                    </div>

                    <div *ngIf="!loading">
                    Input configured CSV file:
                    <hr>

                    <form [formGroup]="form" class="needs-validation" novalidate>


                        <div class="mb-1 row">
                          <label for="header_included" class="col-sm-3 col-form-label"><strong>CSV has header line?</strong> </label>
                            <div class="col-sm-8">
                                <input id="header_included" type="checkbox" formControlName="header_included" class="form-check-input" checked>
                            </div>
                        </div>

                        <div class="mb-1 row">
                            <label for="config_included" class="col-sm-3 col-form-label"><strong>CSV has config line?</strong></label>
                            <div class="col-sm-8">
                                <input id="config_included" type="checkbox" formControlName="config_included" class="form-check-input">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="filePicker" class="col-sm-3 col-form-label"> <strong> Upload CSV file: </strong></label>
                            <div class="col-sm-8">
                                <input formControlName="filePicker"
                                    accept=".csv" class="form-control" type="file"
                                    id="filePicker" (change)="handlePick($event)">
                                <div class="invalid-feedback" style="display: block;"
                                    *ngIf="form.controls.filePicker.touched && form.controls.filePicker.invalid">
                                    Please input a valid CSV file.
                                </div>
                            </div>
                        </div>


                        <br>
                    Choose generation parameters:
                    <hr>


                        <div class="mb-3 row">
                            <label for="cluster_group_size" class="col-sm-3 col-form-label"><strong>Choose a Cluster Group Size</strong></label>
                            <div class="col-sm-8">
                                <input id="cluster_group_size" type="number" min="1" step="1" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" formControlName="cluster_group_size" class="form-control" required>
                                <div class="invalid-feedback" style="display: block;"
                                    *ngIf="form.controls.cluster_group_size.touched && form.controls.cluster_group_size.invalid">
                                    Please input a positive whole integer value.
                                </div>
                            </div>
                        </div>


                        <div class="mb-3 row">
                            <label for="number_of_data" class="col-sm-3 col-form-label"><strong>How many Synthetic Data Points?</strong></label>
                            <div class="col-sm-8">
                                <input id="number_of_data" type="number" min="1" step="1" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" formControlName="number_of_data" class="form-control" required>
                                <div class="invalid-feedback" style="display: block;"
                                    *ngIf="form.controls.number_of_data.touched && form.controls.number_of_data.invalid">
                                    Please input a positive whole integer value.
                                </div>
                            </div>
                        </div>


                        <br><br>
                        <div class="mb-3 row">
                            <div class="col-sm-3 offset-3">
                                <button type="submit" class="btn btn-primary1" (click)="submitJob()"
                                    [disabled]="disableSubmit">Generate Synthetic Data</button>
                            </div>
                        </div>


                    </form>

                    <br>
                    <div class="mb-3 row">
                        <div class="col-sm-3 offset-3">
                            <button class="btn btn-primary1" (click)="downloadResults()"
                                    [disabled]="disableDownload">Download Results</button>
                        </div>
                    </div>

                    <br>
                    <div *ngIf="!disableLog">
                    <hr>
                    Status:
                    <div [class]="statusClass" role="alert" [innerHTML]="status"></div>
                    <div class="mb-3 row">
                        <div class="col-sm-12">
                            <div class="progress">
                                <div [style]="{'width': progress + '%'}" class="progress-bar" role="progressbar"
                                    aria-label="Basic example" aria-valuenow="0" aria-valuemin="0"
                                    aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    </div>
                    Log:
                    <textarea class="form-control" #log_textarea1 rows="7" [innerHTML]="logging_message"></textarea>
                    </div>


                    </div>



                <div class="col-1"></div>
            </div>
        </div>
    </div>

</div>

    <div class="card mx-auto shadow mb-4">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="card-body">

                    <p class="card-title-HowTo">How to use</p>
                    The <i>'Tabular Data Generation'</i> page will load an interface hosting a lite version of Genomator software for use generating small synthetic datasets from tabular CSV (comma separated values) datafiles.<br>

                    The page will load and then present an interface with a series of options to be filled in order to begin the process of synthetic data generation.
                    You will need to upload and tell the software a bit about your tabular CSV data, particularly:
                    <ul class="bullet-list list-unstyled pl-0">
                      <li><b>Upload CSV file</b> - Please upload your CSV file of input data </li>
                      <li><b>CSV has header line?</b> - The CSV file may have an optional header line containing string column names</li>
                      <li><b>CSV has config line?</b> - The CSV file may also have a second column config line, identifying whether each column
                        has values that should be considered:
                        <ul class="bullet-list2 list-unstyled pl-0">
                          <li>categorical and discrete - denoted by 'D' character,</li>
                          <li>Or otherwise should be considered to be continuously valued - denoted by a number indicating the relative importance scaling applied to the column</li>
                        </ul>

                      </li>
                    </ul>

                <div class="card mx-auto shadow mb-4">
                  <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                      <b><u>EXAMPLE:</u></b> consider tabular data (in excel) consisting of a header line (Animal,Height,Weight), with a config line showing that Animal is categorical and discrete 'D', and that Height and Weight are continuous data where Height in meters is 100x more important than weight in kilograms (ie. a weight difference of 10kg should be as important to the algorithm as a height difference of 0.1m). This data is exported from excel into a ".csv" file, which is input into the genomator algorithm.
                      <br>
                      <img src="assets/csv_example.png" style="width: 100%; max-width: 832px;"/><br>
                      <br>
                    </div>
                  </div>
                </div>


                After uploading your configured CSV data you will need to input some parameters telling Genomator how to handle this tabular data to generate synthetic data that you want, particularly:

                    <ul class="bullet-list list-unstyled pl-0">
                      <li><b>Choose a Cluster Group Size</b> - Please indicate the 'Cluster Group Size' parameter of the Genomator algorithm, as an integer greater than '1' and less than the number of datapoint rows in the input CSV input. This parameter controls how much flexibility Genomator has to introduce variation in the data generation process (a Cluster Group Size of '1' causes total reproduction of input data) - a default Cluster group size is '10'. </li>
                      <li><b>How many Synthetic Data points?</b> - Please then indicate how many synthetic data points you would like Genomator to generate</li>
                    </ul>
                    Once these fields are filled out, click the button <i>'Generate Synthetic Data'</i> to begin the process of synthetic data creation<br>
                    The process of synthetic data creation will commence, and if successful will result in the button <i>'Download Results'</i> becoming available, clicking this button should initiate a download of a CSV file containing the output synthetic data.
                    <br>
                    <br>


                <div class="card mx-auto shadow mb-4">
                  <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                      <b><u>EXAMPLE:</u></b> Considering a CSV of tabular data containing Weight and Height measurements against a categorical variable for Dogs and Cats, with both header and config line: <a href="assets/catdog.csv">catdog.csv</a><br>
                      Running with a Cluster Input Size of '10', generating '150' synthetic datapoints, as shown:<br>
                      <img src="assets/catdog_config.png" style="width: 100%; max-width: 327px;"/><br><br>

                      Running Genomator with this dataset and this configuration, yields downloadable CSV data which can be plotted as shown:<br>
                      <img src="assets/catdog.png" style="width: 100%; max-width: 605px;"/><br>
                      On this plot we can see that the input source data (dogs and cats weight and height) is closely approximated by the synthetic data (of dogs and cats weight and height).
                      <hr>
                      <button class="btn btn-primary1" (click)="loadExample()">Run with Example data</button>
                      <br>
                    </div>
                  </div>
                </div>

                <hr>
                Please note that this is a Lite version of the full Genomator software, and is optimised for CSV tabular data.<br>
                The underlying Python source of the software being run on this page is able to be downloaded and run separately:<br><br>

                      <button id="example-results" class="btn btn-primary2 btn-sm" (click)="redirect('assets/genomator_mini_tabular.py')"><fa-icon [icon]="faPython"></fa-icon> Source</button><br><br>


                <div class="col-1"></div>
            </div>
        </div>
        </div>
        </div>





    <div class="card mx-auto shadow mb-4">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="card-body">

                  <h4>License</h4>


                  Copyright (c) 2025 Commonwealth Scientific and Industrial Research Organisation (CSIRO) ABN 41 687 119 230.<br>
<br>
CSIRO hereby grants you a non-exclusive, non-transferable, free of charge right to copy, modify, merge, publish, distribute, and sublicense this software for the sole purpose of performing non-commercial scientific research, non-commercial education, or non-commercial research projects.<br>
<br>
Any other use, in particular any use for commercial purposes, is prohibited. This includes, without limitation, incorporation in a commercial product, use in a commercial service, or production of other artefacts for commercial purposes.<br>
<br>
Neither the name of CSIRO nor the names of its authors may be used to endorse or promote products derived from this software without specific prior written permission of CSIRO.<br>
<br>
NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE GRANTED BY THIS LICENSE. THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR CSIRO BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.<br>
<br>
You understand and agree that the authors and/or CSIRO are under no obligation to provide either maintenance services, update services, notices of latent defects, or corrections of defects with regard to the Software.<br>
<br>
The Software may contain third party material obtained by CSIRO under licence.  Your rights to such material as part of the Software under this agreement is subject to any separate licence terms identified by CSIRO as part of the Software release - including as part of the Supplementary Licence, or as a separate file. Those third party licence terms may require you to download the relevant software from a third party site, or may mean that the third party licensor (and not CSIRO) grants you a licence directly for those components of the Software. It is your responsibility to ensure that you have the necessary rights to such third party material.




                <div class="col-1"></div>
            </div>
        </div>
    </div>
  </div>

