<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="left-block col-md-8">
        <!-- Footer content on the left side -->
        <p class="footer-quote">Bringing Academic Brilliance To Research And Industry Problems.</p>

        <!-- Social media icons for links -->
        <div class="footer-social-media">
          <a href="https://twitter.com/CSIRO?s=20" target="_blank"><img src="assets/twitter-icon.png" alt="Twitter"
              class="icon-image"></a>
          <a href="https://www.youtube.com/@csiro" target="_blank"><img src="assets/youtube-icon.png" alt="YouTube"
              class="icon-image"></a>
          <a href="https://www.linkedin.com/company/csiro/?originalSubdomain=au" target="_blank"><img
              src="assets/linkedin-icon.png" alt="LinkedIn" class="icon-image"></a>
        </div>

        <!-- Links section in the footer -->
        <div class="footer-links">
          <a href="https://www.csiro.au/en/" target="_blank">About Us</a>
          <a href="https://www.csiro.au/en/work-with-us/services" target="_blank">Our Services</a>
          <a href="https://www.csiro.au/en/About/Access-to-information/Privacy" target="_blank">Privacy Policy</a>
        </div>
      </div>

      <!-- Move the logo and copyright to the right side of the footer -->
      <div class="logo col-md-4 ">
        <!-- Footer logo and copyright information on the right side -->
        <a href="https://www.csiro.au/en/" target="_blank">
          <img src="assets/CSIRO_Logo.png" alt="Company Logo" class="CSIRO_Logo">
        </a>
        <div class="footer-copyright">
          CSIRO © 2025
        </div>
      </div>
    </div>
  </div>
</footer>
